@import 'mixin';

:root{
    --primary-color: #183654;
    --secondary-color: #a2d1e7;
    --ternary-color :#799aaa;
    --border-color: #183654;
    --mode-color: #d4d1d1;
    --post-back-col: white;
    --text-color:black;
    --table-back-col:#cee9f1;
    --scroll-col:#304e6b;
    --footer-col: #f8f8f8;
    --bottom-col: #d4d1d1;
}

.dark_theme{
    --primary-color: #1e2a3a;
    --secondary-color: #111821;
    --ternary-color: #223349; 
    --border-color: #fff;
    --mode-color: #555557b9;
    --post-back-col: #1e2a3a;
    --text-color:white;
    --table-back-col:#1e2a3a;
    --scroll-col:#1d2e44;
    --footer-col:#18202b;
    --bottom-col: #273241;
}


.container{
    width: 100%;
    display: flex;

    @include responsive(tablet){
        flex-direction: column;
    }
}

.navbar{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);

    @include responsive(tablet){
        width: 100%;
        height: max-content;
        position: relative;
        top: 0;
        overflow: hidden;
        font-size: 0.8rem;
    }

    
    .name{
        font-size: 1.5rem;
        color: white;
        text-align: center;
        padding: 8% 0;

        label{
            color: #fff;
            font-size: 1.2rem;
            display: none;   
    
            @include responsive(tablet){
                display: block;
                float: right;
                cursor: pointer;
            }
        }
    }
    
    .minimize{

        @include responsive(tablet){
            display: none;
            margin-top: 3%;
        }

        .profile{
            width: 100%;
            margin-top: 0;
            text-align: center;

            @include responsive(tablet){
                margin-top: 0;
            }

            .profle_pic{
                width: 120px;
                margin: auto;
                height: 120px;
                border-radius: 50%;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                @include responsive(mobile_M){
                    width: 120px;
                    height: 120px;
                }
    
                .initial{
                    font-size: 5em;
                    font-weight: bold;
                    color: #183654;

                    @include responsive(mobile_M){
                        font-size: 6em;
                    }
                }
                
            }

            .profile_info{
                color: white;
                margin: 9%;
                font-size: 0.9rem;
                text-align: center;
                padding: 0 5%;
                line-height: 1.5;

                @include responsive(tablet){
                    margin: 4%;
                    font-size: 1rem;
                }
                @include responsive(mobile_M){
                    margin: 7%;
                    font-size: 0.8rem;
                }
            }
    
        } 

        .nav{
            width: max-content;
            margin: auto;
            li{
                list-style-type: none;
                padding: 9% 0;
        
                a{
                    color: #fff;
                    text-decoration: none;
                    margin: 10% 0;
                }
            }
        }
       

        
        .mode{
            text-align: center;
            line-height: 1.5;
            margin: 11% 0;
    
            a{
                color: #fff;
            }
           svg{
               color: #fff;
           }

            @include responsive(tablet){
                margin: 4% 0;
            }
            @include responsive(mobile_M){
                margin: 6% 0;
            }
    
                #toggle{
                    position: relative;
                    display: block;
                    width: 69px;
                    margin: auto;
                    height: 25px;
                    margin-top: 8%;
                    border-radius: 160px;
                    border: 4px solid var(--mode-color);
                    transition: 0.5s;
                    cursor: pointer;
    
                    @include responsive(tablet){
                        width: 57px;
                        height: 20px;
                        margin-top: 4%;
                    }
                    @include responsive(mobile_M){
                        margin-top: 7%;
                    }
                }
            
                .indicator{
                    position: absolute;
                    top: 3px;
                    left: 4px;
                    width: 23px;
                    align-items: center;
                    height: 19px;
                    background-color: var(--mode-color);
                    border-radius: 43%;
                    transform: scale(0.9);
                    transition: 0.5s;
    
                    @include responsive(tablet){
                        width: 25px;
                        height: 14px;
                    }
                }
    
                #toggle.active .indicator{
                    left: 38px;
                }
            }   
    
            .hr{
                background-color: rgba(255, 255, 255, 0.582);
                height: 1px;
                width: 85%;
                margin: auto;
                margin-top: 7%;
    
                @include responsive(tablet){
                    margin: 4%;
                }
            }

        
    }
    
}

.content{
    width: 75%;
    height: 100%;
    background-color: var(--secondary-color);

    @include responsive(tablet){
        width: 100%;
    }

// add button 

        .btn-div{
            text-align: center;
            border: 1px solid var(--text-color);
            width: 24%;
            margin: auto;
            padding: 12px 18px;
            margin-top: 5%;
            margin-bottom: 5%;

                @include responsive(laptop){
                    width: 32%;
                }
        
                @include responsive(tablet){
                    width: 57%;
                }
                @include responsive(mobile_S){
                    width: 78%;
                }
        
                &:hover{
                    background-color: var(--primary-color);
                }
                &:hover .newbtn{
                    color: white;
                }            

            .newbtn{
                text-decoration: none;
                color: var(--text-color);
                font-size: 20px;
            }
        }


        // footer


    .random{
        width: 100%;
        background-color:  var(--footer-col);
        color: var(--border-color);

        @include responsive(laptop){
            font-size: 14px;
        }
    
        @include responsive(tablet){
            font-size: 12px;
        }
        @include responsive(mobile_M){
            line-height: 1.5;
        }


        .foot-icon{
            text-align: center;
            padding-bottom: 10px;
        

            a{
                font-size: 1.5rem;
                margin: 9px;
                color: var(--border-color);
            }
        }
    }

    

    .footer-main{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        color: var(--border-color);
        margin: auto;
        padding-top: 1rem;
        justify-content: space-between;

        @include responsive(tablet){
            font-size: 12px;
            width: 90%;
        }

        .footer-info-div{
            margin-left: 0;
            display: flex;
            width: 47%;
            flex-direction: column;
            text-align: justify;


            @include responsive(mobile_M){
                width: 100%;
            }
        }
            
        .footer-div{
            width: max-content;
            display: flex;
            flex-direction: column;
            text-align: justify;
            
            ul{
                margin-left: -39px;
            }
            li{
                list-style-type: none;
            }

            @include responsive(mobile_M){
                width: max-content;
                margin: 9px -3%;
            }
        }

    }
    .footer-text{
        width: 100%;
        text-align: center;
        background-color: var(--bottom-col);
        color: var(--border-color);
        padding: 10px 0;
        margin: 0;
    }
}


.views-view-grid{
    width: 100%;

    .views-row{
        display: flex;
        justify-content: space-evenly;
        margin: 2% 0;

        @include responsive(mobile_M){
            flex-direction: column;
        }

        .views-col{
            width: 35% !important; 
            overflow: hidden;
            border-radius: 12px;
            background-color: var(--post-back-col);
            color: var(--text-color);
            margin: 2% 2%;
            position: relative;
            box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
            transition: all 0.4s ease-in-out;
           
            &:hover{
                transform: scale(1.05);
            }

            @include responsive(tablet){
                width: 40% !important;
                border-radius: 12px;
                margin: 4% 0;
            }
            @include responsive(mobile_M){
                width: 100% !important;
                border-radius: 0;
                margin: 4% 0;
            }

            .views-field{

                .field-content{

                    a img{
                        width: 100%;
                        height: 100%;
                    }

                    .main{
                        .sub{
                            margin: 2% 4%;

                            a{
                                font-size: 20px;
                                font-weight: bold;
                                margin: 1% 0;
                                white-space: nowrap;
                                text-decoration: none;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: var(--primary-color);

                                @include responsive(tablet){
                                    font-size: 1rem;
                                }
                            }
                            p{
                                text-align: justify;

                                @include responsive(tablet){
                                    font-size: 14px;
                                }
                            }

                            .auth{
                                display: flex;
                                justify-content: space-between;

                                .read-more{
                                   
                                    a{
                                        font-size: 12px;
                                        padding: 5px 7px;
                                        box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
                                        border-radius: 5px;
                                        background-color: var(--scroll-col);
                                        text-decoration: none;
                                        color: white;
                                    }
                                }

                                .auth-id{
                                    font-size: 12px;
                                    margin-top: 3%;
                                    color: #a2a1a9;

                                    a{
                                        font-size: 12px;
                                        color: #a2a1a9;
                                    }
                                }
                            }
                        }
                    }
                }
            }  

            // .views-field-title{

            // }

            .views-field-body{
                width: 100%;
                text-align: justify;
            }
        }
    }
}



// dashboard

.index{

    .post_div{
        position: fixed;
        top: 13%;
        right: 1%;

        @include responsive(tablet){
            top: 15%;
        }
    }
    .user_div{
        position: fixed;
        top: 18%;
        right: 1%;

        @include responsive(tablet){
            top: 20%;
        }
    }

    .add_post_div{
        position: fixed;
        top: 23%;
        right: 1%;

        @include responsive(tablet){
            top: 25%;
        }
    }

    .add_user_div{
        position: fixed;
        top: 28%;
        right: 1%;

        @include responsive(tablet){
            top: 30%;
        }
    }

    .svg-inline--fa{
        font-size: 18px;
        color: white;
        padding: 3px 6px;
        width: 25px;
        background: #304e6b;


        @include responsive(laptop){
            font-size: 12px;
            color: white;
            padding: 4px 8px;
            width: 13px;
        }
    }

    .index_link{
        text-decoration: none;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        background: #304e6b;
        font-size: 13px;
        padding: 4px 26px;
        margin: 7px;
        display: none;
    }

}






// dashboard page

#block-mainpagecontent{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 20%;

    h2{
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
        margin: 8% 0;

        @include responsive(tablet){
            font-size: 1.5rem;
        }
        @include responsive(mobile_M){
            font-size: 1.3rem;
       
        }
    }

    .cols-6{
        line-height: 1.5;
        border-collapse: collapse;
        width: 90%;
        margin: auto;
        height: max-content;
        overflow-y: auto;

        @include responsive(mobile_S){
            width: 99%;
            
        }
     
        th{
            background-color: var(--primary-color);
            color: #fff !important;
        }

        .views-field{
            padding: 2px 15px;
            border: 1px solid #ddd;
            text-align: center;
            font-size: 16px;
            color: black;

            @include responsive(laptop_M){
                padding: 3px 4px;
                font-size: 14px;
            }

            @include responsive(tablet){
                padding: 2px 6px;
            
            }
            @include responsive(mobile_M){
                padding: 0px 3px;
                font-size: 10px;
            
            }

            img{
                width: 60px;
                height: 60px;

                @include responsive(mobile_M){
                    width: 50px;
                    height: 50px;
                
                }
            }

            a{
                text-decoration: none;
                color: black;
            }
        }

        tbody tr:nth-child(even){
            background-color: var(--table-back-col);
        }
    }

}

.js-pager__items{
    list-style-type: none;
    display: flex;
    justify-content: center;

    li{
        padding: 0 2%;
    }
}


#block-views-block-user-dash-block-1{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 8%;
    background-color: var(--ternary-color);

    h2{
        font-size: 1.8rem;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 8% 0;

        @include responsive(tablet){
            font-size: 1.5rem;
        }
        @include responsive(mobile_M){
            font-size: 1.3rem;
       
        }
    }

    .cols-4{
        line-height: 1.5;
        border-collapse: collapse;
        width: 90%;
        margin: auto;
        height: max-content;
        overflow-y: auto;

        @include responsive(mobile_S){
            width: 99%;
        }
    
        th{
            background-color: var(--primary-color);
            color: #fff !important;
        }

        .views-field{
            padding: 2px 15px;
            border: 1px solid #ddd;
            text-align: center;
            font-size: 16px;
            color: black;

            @include responsive(laptop_M){
                padding: 3px 4px;
                font-size: 14px;
            }

            @include responsive(tablet){
                padding: 2px 6px;
            
            }
            @include responsive(mobile_M){
                padding: 0px 3px;
                font-size: 10px;
            
            }

            a{
                text-decoration: none;
                color: black;
            }
        }

        tbody tr:nth-child(even){
            background-color: var(--table-back-col);
        }
    }
}





// login

@import 'mixin';
@import 'animation';
.wrapper{
    width: 100%;

    .navbar {
        height: 6em;
        line-height: 6em;
        padding: 0 6%;
        width: 100%;
        overflow: hidden;

        @include responsive(tablet){
            line-height: 3;
        }
        
        .logo_div{
            display: inline;
    
            .logo{
                font-size: 1.5rem;
                text-decoration: none;
                color: white;
    
                @include responsive(mobile_M){
                    font-size: 1.2rem;
                }
            }
        }
    
        @include responsive(mobile_M){
            padding-top: 7%;
        }
    
        label{
            color: #fff;
            font-size: 1.5rem;
            display: none;   
    
            @include responsive(tablet){
              
                display: block;
                float: right;  
                margin: -9% 86%;
                cursor: pointer;
            }
            @include responsive(mobile_M){
                font-size: 1.2rem;
            }
            
        }
    
        .navitem{
            float: right;
            margin-top: -9%;
            margin-left: 45%;
    
            @include responsive(laptop_M){
                margin-top: -10%;
                margin-left: 40%;
            }
            @include responsive(laptop){
                margin-top: -11%;
                margin-left: 35%;
            }
            @include responsive(tablet){
                display: none;
                width: 100%;
            }
    
    
            ul{
                display: flex;
                text-decoration: none;

                li {
                    list-style-type: none;

                    a{
                        text-decoration: none;
                        color: #fff;
                        padding: 0 12px;
                        font-size: 1.2rem;
                
                        
                        
            
                        &:hover{
                            color: rgb(5, 45, 78);
                            text-decoration: underline;
                        }
                    }
                }
                
            }
            
        }
    
        .toggle{
            display: none; 
        }
    
        input[type=checkbox]:checked ~ .navitem{
            
            @include responsive(tablet){
                text-align: center;
                display: block;
                height: max-content;
    
            }
    
        }
        
        
    
    }

    .log_container{

        position: relative;
        display: flex;
        justify-content: center;
        
        padding: 3rem 0;
        
        line-height: 2;
        background-color: rgba(255,255,255,0.04);
        box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);


    @include responsive(mobile_M){
        width: 86%;
        line-height: 3;
        padding: 3rem 0;
        padding-top: 1rem;
        margin: auto;
    }

    
        form{
            width: 50%;
            margin: auto;
            margin-top: 15%;

            input{
                width: 100%;
            }
        }
    }
}





















