<div class="wrapper">
    <div class="navbar">

        <div class="logo_div">
            <a href="#" class="logo">BloGEX</a>
        </div>

        <input type="checkbox" id="toggle" class="toggle">
        <label for="toggle">&#9776</label>

        <div class="navitem">
            {{page.navigation}}
        </div>
        
    </div>


   <div class="log_container">
        
        {{page.content}}
    </div>


    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>  


</div>