<div class="wrapper">
    
    <div class="nav">
        <div class="name"> 
            <a class="logo">BloGEX</a>

            <label>&#9776</label>
        </div>

        <div class="mini">
            <div class="nav-item">
                {{page.navigation}}
            </div>
        </div>
    </div>

    <div class="log_container">
        {{page.content}}
    </div>


    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>  


</div>