:root {
  --primary-color: #183654;
  --secondary-color: #a2d1e7;
  --ternary-color:#799aaa;
  --border-color: #183654;
  --mode-color: #d4d1d1;
  --post-back-col: white;
  --text-color:black;
  --table-back-col:#cee9f1;
  --scroll-col:#304e6b;
  --footer-col: #f8f8f8;
  --bottom-col: #d4d1d1;
}

.dark_theme {
  --primary-color: #1e2a3a;
  --secondary-color: #111821;
  --ternary-color: #223349;
  --border-color: #fff;
  --mode-color: #555557b9;
  --post-back-col: #1e2a3a;
  --text-color:white;
  --table-back-col:#1e2a3a;
  --scroll-col:#1d2e44;
  --footer-col:#18202b;
  --bottom-col: #273241;
}

.container {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.navbar {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: max-content;
    position: relative;
    top: 0;
    overflow: hidden;
    font-size: 0.8rem;
  }
}
.navbar .name {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 8% 0;
}
.navbar .name label {
  color: #fff;
  font-size: 1.2rem;
  display: none;
}
@media only screen and (max-width: 768px) {
  .navbar .name label {
    display: block;
    float: right;
    cursor: pointer;
  }
}
.navbar .name a {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize {
    display: none;
    margin-top: 3%;
  }
}
.navbar .minimize .profile {
  width: 100%;
  margin-top: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .profile {
    margin-top: 0;
  }
}
.navbar .minimize .profile .profle_pic {
  width: 120px;
  margin: auto;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .profile .profle_pic {
    width: 120px;
    height: 120px;
  }
}
.navbar .minimize .profile .profle_pic .views-row .views-field-uid .initial {
  visibility: hidden;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -25%);
}
.navbar .minimize .profile .profle_pic .views-row .views-field-uid .initial::first-letter {
  visibility: visible;
  font-size: 5rem;
  font-weight: bold;
  color: #183654;
}
.navbar .minimize .profile .profile_info {
  color: white;
  margin: 9%;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 5%;
  line-height: 1.5;
}
.navbar .minimize .profile .profile_info .initial {
  display: inline;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .profile .profile_info {
    margin: 4%;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .profile .profile_info {
    margin: 7%;
    font-size: 0.8rem;
  }
}
.navbar .minimize .nav {
  width: max-content;
  margin: auto;
}
.navbar .minimize .nav li {
  list-style-type: none;
  padding: 9% 0;
}
.navbar .minimize .nav li a {
  color: #fff;
  text-decoration: none;
  margin: 10% 0;
}
.navbar .minimize .mode {
  text-align: center;
  line-height: 1.5;
  margin: 11% 0;
}
.navbar .minimize .mode a {
  color: #fff;
}
.navbar .minimize .mode svg {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .mode {
    margin: 4% 0;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .mode {
    margin: 6% 0;
  }
}
.navbar .minimize .mode #toggle {
  position: relative;
  display: block;
  width: 69px;
  margin: auto;
  height: 25px;
  margin-top: 8%;
  border-radius: 160px;
  border: 4px solid var(--mode-color);
  transition: 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .mode #toggle {
    width: 57px;
    height: 20px;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 425px) {
  .navbar .minimize .mode #toggle {
    margin-top: 7%;
  }
}
.navbar .minimize .mode .indicator {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 23px;
  align-items: center;
  height: 19px;
  background-color: var(--mode-color);
  border-radius: 43%;
  transform: scale(0.9);
  transition: 0.5s;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .mode .indicator {
    width: 25px;
    height: 14px;
  }
}
.navbar .minimize .mode #toggle.active .indicator {
  left: 38px;
}
.navbar .minimize .hr {
  background-color: rgba(255, 255, 255, 0.582);
  height: 1px;
  width: 85%;
  margin: auto;
  margin-top: 7%;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize .hr {
    margin: 4%;
  }
}

.content {
  width: 75%;
  height: 100%;
  background-color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
.content .btn-div {
  text-align: center;
  border: 1px solid var(--text-color);
  width: 24%;
  margin: auto;
  padding: 12px 18px;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1024px) {
  .content .btn-div {
    width: 32%;
  }
}
@media only screen and (max-width: 768px) {
  .content .btn-div {
    width: 57%;
  }
}
@media only screen and (max-width: 320px) {
  .content .btn-div {
    width: 78%;
  }
}
.content .btn-div:hover {
  background-color: var(--primary-color);
}
.content .btn-div:hover .newbtn {
  color: white;
}
.content .btn-div .newbtn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}
.content .random {
  width: 100%;
  background-color: var(--footer-col);
  color: var(--border-color);
}
@media only screen and (max-width: 1024px) {
  .content .random {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .content .random {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .content .random {
    line-height: 1.5;
  }
}
.content .random .foot-icon {
  text-align: center;
  padding-bottom: 10px;
}
.content .random .foot-icon a {
  font-size: 1.5rem;
  margin: 9px;
  color: var(--border-color);
}
.content .footer-main {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  color: var(--border-color);
  margin: auto;
  padding-top: 1rem;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .content .footer-main {
    font-size: 12px;
    width: 90%;
  }
}
.content .footer-main .footer-info-div {
  margin-left: 0;
  display: flex;
  width: 47%;
  flex-direction: column;
  text-align: justify;
}
@media only screen and (max-width: 425px) {
  .content .footer-main .footer-info-div {
    width: 100%;
  }
}
.content .footer-main .footer-div {
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.content .footer-main .footer-div ul {
  margin-left: -39px;
}
.content .footer-main .footer-div li {
  list-style-type: none;
}
@media only screen and (max-width: 425px) {
  .content .footer-main .footer-div {
    width: max-content;
    margin: 9px -3%;
  }
}
.content .footer-text {
  width: 100%;
  text-align: center;
  background-color: var(--bottom-col);
  color: var(--border-color);
  padding: 10px 0;
  margin: 0;
}

.views-view-grid {
  width: 100%;
}
.views-view-grid .views-row {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}
@media only screen and (max-width: 425px) {
  .views-view-grid .views-row {
    flex-direction: column;
  }
}
.views-view-grid .views-row .views-col {
  width: 35% !important;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--post-back-col);
  color: var(--text-color);
  margin: 2% 2%;
  position: relative;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
.views-view-grid .views-row .views-col:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 768px) {
  .views-view-grid .views-row .views-col {
    width: 40% !important;
    border-radius: 12px;
    margin: 4% 0;
  }
}
@media only screen and (max-width: 425px) {
  .views-view-grid .views-row .views-col {
    width: 100% !important;
    border-radius: 0;
    margin: 4% 0;
  }
}
.views-view-grid .views-row .views-col .views-field .field-content a img {
  width: 100%;
  height: 100%;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub {
  margin: 2% 4%;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub a {
  font-size: 20px;
  font-weight: bold;
  margin: 1% 0;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  .views-view-grid .views-row .views-col .views-field .field-content .main .sub a {
    font-size: 1rem;
  }
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub p {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .views-view-grid .views-row .views-col .views-field .field-content .main .sub p {
    font-size: 14px;
  }
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub .auth {
  display: flex;
  justify-content: space-between;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub .auth .read-more a {
  font-size: 12px;
  padding: 5px 7px;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: var(--scroll-col);
  text-decoration: none;
  color: white;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub .auth .auth-id {
  font-size: 12px;
  margin-top: 3%;
  color: #a2a1a9;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub .auth .auth-id a {
  font-size: 12px;
  color: #a2a1a9;
}
.views-view-grid .views-row .views-col .views-field-body {
  width: 100%;
  text-align: justify;
}

.index .post_div {
  position: fixed;
  top: 13%;
  right: 1%;
}
@media only screen and (max-width: 768px) {
  .index .post_div {
    top: 15%;
  }
}
.index .user_div {
  position: fixed;
  top: 18%;
  right: 1%;
}
@media only screen and (max-width: 768px) {
  .index .user_div {
    top: 20%;
  }
}
.index .add_post_div {
  position: fixed;
  top: 23%;
  right: 1%;
}
@media only screen and (max-width: 768px) {
  .index .add_post_div {
    top: 25%;
  }
}
.index .add_user_div {
  position: fixed;
  top: 28%;
  right: 1%;
}
@media only screen and (max-width: 768px) {
  .index .add_user_div {
    top: 30%;
  }
}
.index .svg-inline--fa {
  font-size: 18px;
  color: white;
  padding: 3px 6px;
  width: 25px;
  background: #304e6b;
}
@media only screen and (max-width: 1024px) {
  .index .svg-inline--fa {
    font-size: 12px;
    color: white;
    padding: 4px 8px;
    width: 13px;
  }
}
.index .index_link {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background: #304e6b;
  font-size: 13px;
  padding: 4px 26px;
  margin: 7px;
  display: none;
}

#block-mainpagecontent {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 20%;
}
#block-mainpagecontent h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin: 8% 0;
}
@media only screen and (max-width: 768px) {
  #block-mainpagecontent h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent h2 {
    font-size: 1.3rem;
  }
}
#block-mainpagecontent .cols-6 {
  line-height: 1.5;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  height: max-content;
  overflow-y: auto;
}
@media only screen and (max-width: 320px) {
  #block-mainpagecontent .cols-6 {
    width: 99%;
  }
}
#block-mainpagecontent .cols-6 th {
  background-color: var(--primary-color);
  color: #fff !important;
}
#block-mainpagecontent .cols-6 .views-field {
  padding: 2px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 3px 4px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 0px 3px;
    font-size: 10px;
  }
}
#block-mainpagecontent .cols-6 .views-field img {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent .cols-6 .views-field img {
    width: 50px;
    height: 50px;
  }
}
#block-mainpagecontent .cols-6 .views-field a {
  text-decoration: none;
  color: black;
}
#block-mainpagecontent .cols-6 tbody tr:nth-child(even) {
  background-color: var(--table-back-col);
}

.js-pager__items {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.js-pager__items li {
  padding: 0 2%;
}

#block-views-block-user-dash-block-1 {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 8%;
  background-color: var(--ternary-color);
}
#block-views-block-user-dash-block-1 h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 8% 0;
}
@media only screen and (max-width: 768px) {
  #block-views-block-user-dash-block-1 h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  #block-views-block-user-dash-block-1 h2 {
    font-size: 1.3rem;
  }
}
#block-views-block-user-dash-block-1 .cols-4 {
  line-height: 1.5;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  height: max-content;
  overflow-y: auto;
}
@media only screen and (max-width: 320px) {
  #block-views-block-user-dash-block-1 .cols-4 {
    width: 99%;
  }
}
#block-views-block-user-dash-block-1 .cols-4 th {
  background-color: var(--primary-color);
  color: #fff !important;
}
#block-views-block-user-dash-block-1 .cols-4 .views-field {
  padding: 2px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 3px 4px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 425px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 0px 3px;
    font-size: 10px;
  }
}
#block-views-block-user-dash-block-1 .cols-4 .views-field a {
  text-decoration: none;
  color: black;
}
#block-views-block-user-dash-block-1 .cols-4 tbody tr:nth-child(even) {
  background-color: var(--table-back-col);
}