:root {
  --primary-color: #183654;
  --secondary-color: #a2d1e7;
  --ternary-color: #799aaa;
  --border-color: #183654;
  --mode-color: #d4d1d1;
  --post-back-col: white;
  --text-color: black;
  --table-back-col: #cee9f1;
  --scroll-col: #304e6b;
  --footer-col: #f8f8f8;
  --bottom-col: #d4d1d1;
}

.container {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.navbar {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: max-content;
    position: relative;
    top: 0;
    overflow: hidden;
    font-size: 0.8rem;
  }
}
.navbar .name {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 8% 0;
}
.navbar .minimize li {
  list-style-type: none;
  padding: 5% 0;
}
.navbar .minimize li a {
  color: #fff;
  text-decoration: none;
  margin: 10% 0;
}
@media only screen and (max-width: 768px) {
  .navbar .minimize {
    display: none;
    margin-top: 3%;
  }
}

.content {
  width: 75%;
  height: 100%;
  background-color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
.content .random {
  width: 100%;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 1024px) {
  .content .random {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .content .random {
    font-size: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .content .random {
    line-height: 1.5;
  }
}
.content .footer-main {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  color: #183654;
  margin: auto;
  padding: 1rem 0;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .content .footer-main {
    font-size: 12px;
    width: 90%;
  }
}
.content .footer-main .footer-info-div {
  margin-left: 0;
  display: flex;
  width: 47%;
  flex-direction: column;
  text-align: justify;
}
@media only screen and (max-width: 425px) {
  .content .footer-main .footer-info-div {
    width: 100%;
  }
}
.content .footer-main .footer-div {
  width: max-content;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.content .footer-main .footer-div ul {
  margin-left: -39px;
}
.content .footer-main .footer-div li {
  list-style-type: none;
}
@media only screen and (max-width: 425px) {
  .content .footer-main .footer-div {
    width: max-content;
    margin: 9px -3%;
  }
}
.content .footer-text {
  width: 100%;
  text-align: center;
  background-color: #d4d1d1;
  color: #183654;
  padding: 10px 0;
  margin: 0;
}

.views-view-grid {
  width: 100%;
}
.views-view-grid .views-row {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}
@media only screen and (max-width: 425px) {
  .views-view-grid .views-row {
    flex-direction: column;
  }
}
.views-view-grid .views-row .views-col {
  width: 35% !important;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--post-back-col);
  color: var(--text-color);
  margin: 2% 2%;
  position: relative;
  box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 768px) {
  .views-view-grid .views-row .views-col {
    width: 100%;
  }
}
.views-view-grid .views-row .views-col .views-field .field-content a img {
  width: 100%;
  height: 100%;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub {
  margin: 2% 4%;
}
.views-view-grid .views-row .views-col .views-field .field-content .main .sub a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.views-view-grid .views-row .views-col .views-field-body {
  width: 100%;
  text-align: justify;
}

#block-mainpagecontent {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 20%;
}
#block-mainpagecontent h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin: 8% 0;
}
@media only screen and (max-width: 768px) {
  #block-mainpagecontent h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent h2 {
    font-size: 1.3rem;
  }
}
#block-mainpagecontent .cols-6 {
  line-height: 1.5;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  height: max-content;
  overflow-y: auto;
}
@media only screen and (max-width: 320px) {
  #block-mainpagecontent .cols-6 {
    width: 99%;
  }
}
#block-mainpagecontent .cols-6 th {
  background-color: var(--primary-color);
  color: #fff !important;
}
#block-mainpagecontent .cols-6 .views-field {
  padding: 2px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 3px 4px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent .cols-6 .views-field {
    padding: 0px 3px;
    font-size: 10px;
  }
}
#block-mainpagecontent .cols-6 .views-field img {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 425px) {
  #block-mainpagecontent .cols-6 .views-field img {
    width: 50px;
    height: 50px;
  }
}
#block-mainpagecontent .cols-6 .views-field a {
  text-decoration: none;
  color: black;
}
#block-mainpagecontent .cols-6 tbody tr:nth-child(even) {
  background-color: var(--table-back-col);
}

#block-views-block-user-dash-block-1 {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 8%;
  background-color: var(--ternary-color);
}
#block-views-block-user-dash-block-1 h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 8% 0;
}
@media only screen and (max-width: 768px) {
  #block-views-block-user-dash-block-1 h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 425px) {
  #block-views-block-user-dash-block-1 h2 {
    font-size: 1.3rem;
  }
}
#block-views-block-user-dash-block-1 .cols-4 {
  line-height: 1.5;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  height: max-content;
  overflow-y: auto;
}
@media only screen and (max-width: 320px) {
  #block-views-block-user-dash-block-1 .cols-4 {
    width: 99%;
  }
}
#block-views-block-user-dash-block-1 .cols-4 th {
  background-color: var(--primary-color);
  color: #fff !important;
}
#block-views-block-user-dash-block-1 .cols-4 .views-field {
  padding: 2px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: black;
}
@media only screen and (max-width: 1200px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 3px 4px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 425px) {
  #block-views-block-user-dash-block-1 .cols-4 .views-field {
    padding: 0px 3px;
    font-size: 10px;
  }
}
#block-views-block-user-dash-block-1 .cols-4 .views-field a {
  text-decoration: none;
  color: black;
}
#block-views-block-user-dash-block-1 .cols-4 tbody tr:nth-child(even) {
  background-color: var(--table-back-col);
}

.contextual-region {
  width: 100%;
}